  body{
    background-color: black
  }
  div{
    text-align: center;
    width: 50%;
    margin-left: 25%;
  }
  img{
    border: solid gold;
    border-width: 10px;
    border-radius: 1500px;
    padding: 2px;
    width: 50%;

  }
  h1{
    background-color: black;
    color: white;
    text-align: center;
  }
  p{
    color: white;
  }
    #man {
      font-family: "Tauri", sans-serif;
      font-weight: 400;
      font-size: 40px;
      font-style: normal;
    }
    footer{
      text-align: center;
      color: gold;
    }
    #moh{
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 30px;
}
    
    
  
  